* {
  box-sizing: border-box;
  margin: 0;
}

.blog-container {
  background-color: rgba(255, 251, 244, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0 80px 45px;
}

.blog-header {
  color: rgba(17, 17, 22, 1);
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  /* margin: 10px; */
  padding: 50px;
}

.blog {
  gap: 30px;
  border-radius: 20px;
  opacity: 0px;
  display: flex;
}

.blog-content {
  border-radius: 20px;
  opacity: 0px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 5px 30px 50px 0px rgba(43, 42, 42, 0.05);
}

.blog-content-img {
  width: 313px;
  height: 224px;
  gap: 0px;
  border-radius: 20px 20px 0px 0px;
  opacity: 0px;
  margin: 20px 20px 10px 20px;
  background-color: rgba(196, 196, 196, 1);
}

.blog-content-detail {
  margin: 0 20px;
}

.blog-content-next {
  color: rgba(255, 165, 2, 1);
  margin-left: 10px;
  font-size: 12px;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  position: relative;
}

.arrow-right {
  color: rgba(255, 165, 2, 1);
  position: absolute;
  width: 21px;
  height: 13.5px;
  bottom: 23px;
  left: 120px;
}

.blog-btn {
  background-color: rgba(255, 165, 2, 1);
  color: rgba(255, 251, 244, 1);
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  width: 154px;
  height: 55px;
  border-radius: 15px;
  margin: 48px;
  padding: 20px;
  box-shadow: 5px 10px 30px 0px rgba(255, 165, 2, 0.3);
  text-align: center;
}

.blog-content-detail > h3 {
  color: rgba(59, 59, 59, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
}

.blog-content-detail > p {
  color: rgba(111, 111, 118, 1);
  font-family: "Rubik", sans-serif;
  padding: 0 10px;
  font-size: 14px;
}

section.teacher {
  padding: 0 80px;
}

.teacher-container {
  gap: 0px;
  border-radius: 15px 0px 0px 0px;
  opacity: 0px;
}

.teacher-header {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.teacher-header-text {
  color: rgba(17, 17, 22, 1);
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
}

.teacher-content {
  display: flex;
  justify-content: center;
  gap: 45px;
  align-items: center;
  margin: 20px;
}

.cricle {
  /* width: 394.86px;
    height: 539.53px; */
  gap: 0px;
  opacity: 0px;
  text-align: center;
}

.circle-color {
  width: 315px;
  height: 315px;
  opacity: 0px;
  border-radius: 50%;
  margin: 20px;
}

.cricle-1 .circle-color {
  background-color: rgba(217, 209, 251, 1);
}

.cricle-2 .circle-color {
  background-color: rgba(155, 245, 203, 1);
}
.cricle-3 .circle-color {
  background-color: rgba(254, 198, 162, 1);
}

.teacher-icon {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 12px;
  margin: 5px;
  padding: 10px;
}

.teacher-icon-item {
  font-size: 13px;
}

.cricle-detail > h3 {
  color: rgba(59, 59, 59, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.cricle-detail > p {
  color: rgba(111, 111, 118, 1);
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
  padding: 5px;
}

.teacher-btn {
  background-color: rgba(255, 165, 2, 1);
  color: rgba(255, 251, 244, 1);
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  width: 154px;
  height: 55px;
  border-radius: 15px;
  margin: 48px;
  padding: 20px;
  box-shadow: 5px 10px 30px 0px rgba(255, 165, 2, 0.3);
}

@media only screen and (max-width: 600px) {
  .blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog-header {
    font-size: 24px;
  }

  section.teacher {
    padding: 0;
  }

  .teacher-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .teacher-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
  }
  .teacher-btn {
    margin: 20px;
  }

  .teacher-header-text {
    font-size: 24px;
    line-height: 34px;
    padding: 10px;
  }
}
