* {
  box-sizing: border-box;
  margin: 0;
}

.blog-content {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 5px 30px 50px 0px rgba(43, 42, 42, 0.05);
  padding: 1.5rem;
  position: relative;
  width: 100%;
}

.blog-content-img {
  width: 24.5rem;
  height: 15.75rem;
  /* width: 354px;
  height: 252px; */
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(196, 196, 196, 1);
}

/* .blog-content-detail {
  width: 100%;
} */

.blog-content-detail-h3 {
  color: rgba(59, 59, 59, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  padding: 20px 0 10px;
  width: 24.5rem;
}

.blog-content-detail-p {
  color: rgba(111, 111, 118, 1);
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-size: 18px;
  line-height: 32px;
  width: 24.5rem;
}
.blog-content-more {
  color: rgba(255, 165, 2, 1);
  font-size: 16px;
  line-height: 26px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 20px 0 5px;
}

.arrow-right {
  color: rgba(255, 165, 2, 1);
  position: absolute;
  width: 21px;
  height: 13.5px;
  bottom: 36px;
  left: 140px;
}

.blog-btn {
  background-color: rgba(255, 165, 2, 1);
  color: rgba(255, 251, 244, 1);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 26px;
  width: 218px;
  height: 64px;
  border-radius: 15px;
  margin: 48px 0 60px;
  box-shadow: 5px 10px 30px 0px rgba(255, 165, 2, 0.3);
  text-align: center;
}

.teacher-btn {
  background-color: rgba(255, 165, 2, 1);
  color: rgba(255, 251, 244, 1);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 26px;
  width: 193px;
  height: 64px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 10px 30px 0px rgba(255, 165, 2, 0.3);
}

.cricle {
  gap: 0px;
  opacity: 0px;
  text-align: center;
}

.circle-color {
  width: 315px;
  height: 315px;
  opacity: 0px;
  border-radius: 50%;
  margin: 20px;
}

.teacher-icon {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 12px;
  margin: 5px;
  padding: 10px;
}

.teacher-icon-item {
  font-size: 1rem;
  line-height: 18.4px;
}

.cricle-detail > h3 {
  color: rgba(59, 59, 59, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 34px;
}

.cricle-detail > p {
  color: rgba(111, 111, 118, 1);
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 32px;
  padding: 5px;
}

@media only screen and (max-width: 470px) {
  .blog-content-img {
    width: 100%;
  }
  .blog-content-detail-h3 {
    width: 100%;
  }
  .blog-content-detail-p {
    width: 100%;
  }
}
