@media only screen and (max-width: 600px) {
   
    nav {
        width: 600px;
    }

    nav a {
        position: relative;
        left: -250px;
        
    }

    .HD {
        font-size: 60px;
    }

    .pp {
        font-size: 15px;
        top: 320px;
    }

    .btn {
        top: 390px;
    }

    #menu {
        visibility: visible;
    }

    #nav-icon, .btn-1 {
        display: none;
    }

    .i {
        visibility: collapse;
    }

    #title {
        position: relative;
        bottom: 100px;
        right: 240px;
    }

    #flex {
        width: 600px;
        flex-direction: column-reverse;

    }

    #flex-1,
    #flex-2 {
        width: 600px;

    }

    #pic-1 {
        width: 400px;
        top: 200px;

    }

    #pic-2 {
        width: 400px;
        height: 150px;
        left: 40px;
        top: 400px;

    }

    #pic-3 {
        text-align: center;
        width: 150px;
        top: 250px;
        left: 10px;


    }

    #pic-4 {
        width: 150px;
        height: 200px;
        left: 300px;
        top: 200px;


    }


}