html {
    font-size: calc(60% + 0.8vmin);
    margin: 0 auto;
}
@media only screen and (max-width:600px){
    .box1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -30px;
        gap: 2px;
    }
    .box2{
        margin-right: 90px;
    }
    .box3{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       position: relative;
       bottom: 400px;
       width: 280px; 
    }
    .btn { 
        padding-top: 20px;
        padding-bottom: 20px;
     }
}