* {
    margin: 0px;
    padding: 0px;
  } 
  
  .wrapper {
    display: flex;
    background-color: black;
  }
  
  .item {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 20px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: left;
  }
  
  .item-1 {
    position: relative;
    top: 140px;
    left: 669.75px;
    background-color: black;
    flex-basis: 300px;
  }

  .item-2 {
    position: relative;
    top: 140px;
    left: 922.5px;
    background-color: black;
    flex-basis: 300px;
  }

  .item-3 {
    position: relative;
    top: 140px;
    left: 1175.25px;
    background-color: black;
    flex-basis: 300px;
  }

  .item-4 {
    position: relative;
    top: 140px;
    left: 1428px;
    background-color: black;
    flex-basis: 300px;
  } 



#menu {
    visibility: hidden;
} */
html {
    font-size: calc(60% + 0.8vmin);
    margin: 0 auto;
}
@media only screen and (max-width:600px){
    .box1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -30px;
        gap: 2px;
    }
    .box2{
        margin-right: 90px;
    }
    .box3{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       position: relative;
       bottom: 400px;
       width: 280px; 
    }
    .btn { 
        padding-top: 20px;
        padding-bottom: 20px;
     }
}
html {
    font-size: calc(60% + 0.8vmin);
    margin: 0 auto;
}
@media only screen and (max-width:600px){
    .box1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -30px;
        gap: 2px;
    }
    .box2{
        margin-right: 90px;
    }
    .box3{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       position: relative;
       bottom: 400px;
       width: 280px; 
    }
    .btn { 
        padding-top: 20px;
        padding-bottom: 20px;
     }
}
